@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.slick-dots li {
    width: 10px !important;
    height: 10px !important;
  }
  .slick-dots .custom-slick {
    width: 50px !important;
    height: 50px !important;
  }